# Ignore node_modules directory
node_modules/

# Ignore any compiled files
*.log
*.log.*
*.txt
*.tmp
*.zip
*.gz
*.rar
*.tar
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.dylib

# Ignore macOS system files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Ignore editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace
.svn/
*.swp

# Ignore environment-specific files
.env

# Ignore dependencies installed by npm
npm-debug.log

