.food-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 5px;
    background-color: #efefef;
    transition: box-shadow 0.3s;
}

.food-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image-in-card {
    width: 80%;
    height: auto;
    max-height: 228px;
}

.product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 3rem;
}


.stylish-button {
    display: inline-block;
    padding: 8px 16px;
    color: #ffffff;
    background-color: #3652AD;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 125px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.stylish-button:hover {
    background-color: #280274;
    color: #ffffff;
    text-decoration: none;
}

/* Mobiles */
@media (max-width: 576px) {
    #Food-menu {
        padding: 0.5rem 1.5rem !important;
    }

    #products {
        /* The row */
        padding: 0rem 0.5rem;
    }

    .product {
        padding: 0rem 0.25rem !important;
    }

    .image-in-card {
        width: 70%;
        height: auto;
        max-width: 140px;
        max-height: 85px;
    }

    .product-title {
        padding: 0 0.6rem;
    }

    .stylish-button {
        width: 70%;
        padding: 6px 10px;
        border-radius: 10px;
        font-size: .6rem;
        margin-bottom: 5px;
    }

    .food-card {
        font-size: .6rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1366px) {
    .image-in-card {
        width: 75%;
        height: auto;
        max-width: 216px;
        max-height: 140px;
    }

    .stylish-button {
        width: 50%;
        margin-bottom: 5px;
        font-size: 0.75rem;
    }
}