.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-align: center;
    z-index: 1;
}

/* Mobiles */
@media (max-width: 576px) {
    .carousel-text {
        font-size: 2rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1366px) {
    .carousel-text {
        font-size: 2.5rem;
    }
}

@media (max-width: 767px) {
    .carousel-item .desktop-tablet-image {
        display: none !important;
    }
}

/* Adjust image sizes for desktops and tablets */
@media (min-width: 768px) {
    .carousel-item .mobile-image {
        display: none !important;
    }
}