.filter-form {
    width: 50%;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.toast.show {
    opacity: 1;
}

.apply-button {
    border-radius: 25px !important;
    background-color: #4CAF50 !important;
    color: white !important;
    margin: auto 0.5rem;
}

.apply-button:hover {
    background-color: #3b873d !important;
}

.clear-button {
    border-radius: 25px !important;
    background-color: #ff5252 !important;
    color: #ffffff !important;
    margin: auto 0.5rem;
}

.clear-button:hover {
    background-color: #c44242 !important;
}

.btn-close {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
}

.btn-close::before,
.btn-close::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: black;
}

.btn-close::before {
    transform: rotate(45deg);
}

.btn-close::after {
    transform: rotate(-45deg);
}

/* Mobiles */
@media (max-width: 576px) {
    .filter-form {
        width: 100%;
    }

    .apply-button {
        width: 25% !important;
    }

    .clear-button {
        width: 25% !important;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1366px) {
    .filter-form {
        width: 50%;
    }

    .apply-button {
        font-size: 0.75rem;
        width: 30% !important;
    }

    .clear-button {
        font-size: 0.75rem;
        width: 30% !important;
    }

}