/* Icons */
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

p {
    font-family: 'Montserrat', sans-serif; /* Default font */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif; /* Headings */
}

.quote {
    font-family: 'Dancing Script', cursive; /* Quotes or special text */
}

main {
    font-family: 'Montserrat', sans-serif; /* Default font */
    background-color: rgb(224, 224, 224);
}

.navbar {
    font-family: 'Merriweather', serif; /* Headings */
    background-color: #FE7A36;
}

.navbar-logo {
    max-width: 50px !important;
    border-radius: 5px;
}

footer {
    background-color: #FE7A36;
}