/* Icons */
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-rounded/css/uicons-solid-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css');
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

p {
    font-family: 'Montserrat', sans-serif;
    /* Default font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather', serif;
    /* Headings */
}

.quote {
    font-family: 'Dancing Script', cursive;
    /* Quotes or special text */
}

main {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    /* background-color: rgb(224, 224, 224); */
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    z-index: -1;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://w7.pngwing.com/pngs/71/777/png-transparent-wavy-smooth-lines-pattern-background.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    opacity: 0.5;
    z-index: -1;
}

