.login-button {
    text-decoration: none !important;
    color: black !important;
}

.login-button:hover {
    color: white !important;
}

.navbar {
    font-family: 'Merriweather', serif;
    /* Headings */
    background-color: #f15932;
}

.navbar-logo {
    max-width: 50px !important;
    border-radius: 5px;
}

/* Desktops and Laptops */
@media (min-width: 1024px) {
    /* Your CSS styles for desktops and laptops go here */
}

/* Mobile */
@media (max-width: 576px) {
    .class-for-dropdown {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .class-for-dropdown {
        width: 25%;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1366px) {}